.btn,
a.btn {
  display: inline-block; // чтобы ссылка нормально отрабатывала с блочными моделями и нигде не вылазила
  padding: 8px;
  min-width: 185px;
  height: 40px;

  background: var(--white);

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  text-transform: capitalize;
  text-align: center;
  color: var(--black);

  transition: all 0.2s ease-in;

  &:hover {
    background: var(--neutral-grayededed);
  }

  @include mobile {
    padding: 8px 9px;
    min-width: unset;
  }
  &--small {
    min-width: unset;
    padding-left: 15px;
    padding-right: 15px;
  }
}
