.header {
	padding: 16px 0 18px;

	position: relative; // чтобы мочь задать з-индекс
	z-index: 199; // потому что у навигации и так большой з-индекс и надо его перебить
	background-color: #fff;

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	@include mobile {
		padding: 4px 0 8px;
	}
}

.header__logo {
	flex-shrink: 0; // чтобы логотип не сжимался
}

.header__nav {
	margin-left: auto;
	@include mobile {
		display: none;
	}
}

.header__account {
	&--first {
		margin-left: auto; // прижимаем иконки вправо
		margin-right: 24px; // чтобы сохранить отступ справа
		@include tablet {
			margin-right: 12px;
		}
		@include mobile {
			order: -1;
			margin-left: unset;
		}
	} // при помощи модификатора мы сдвигаем вправо две иконки чтобы сделать составной блок
}

// ==============================================
.header__nav-btn {
	display: none;
}
