.hero {
    padding-bottom: 103px;
    height: 600px;
    background-color: #999;
    background-image: url("./../../img/hero/hero.jpeg");
    background-position: left center; /* x y */
    background-size: cover;
    background-repeat: no-repeat;

    @include mediaBg() {
        background-image: url("./../../img/hero/hero@2x.jpeg");
    } // это миксин для ритина экранов

    @include mobile {
        height: 551px;
        padding-bottom: 16px;
    }
    .container {
        height: 100%; //задаем чтобы растянуть весь блок внутри по высоте и выравнять по флексу
    }
}

.hero__content {
    align-items: flex-start;
    height: 100%; //задаем чтобы растянуть весь блок внутри по высоте и выравнять по флексу
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 27px;

    @include mobile {
        gap: 32px;
    }
}

.hero__title {
    max-width: 494px;
    font-family: var(--font-family);
    font-style: italic;
    font-weight: 500;
    font-size: 34px;
    line-height: 180%;
    text-transform: capitalize;
    color: var(--black);
    @include mobile {
        max-width: 168px;
    }
}
