.icons-wrapper {
  padding: 30px 0;
  display: flex;
  column-gap: 30px;
}

.icon {
  fill: transparent;
  stroke: transparent;
  width: 24px;
  height: 24px;
}
.icon--search,
.icon--person,
.icon--bag {
  fill: #0c0c0c;
}
.icon--favorite {
  stroke: #0c0c0c;
  fill: white;
}
