.main {
  display: flex;
  flex-direction: column;
  gap: 88px;
  @include mobile {
    gap: 24px;
  }
} // у нас все элементы в мейн идут один над другим и задаем им быстро отступы раньше задали гридом, но потом при адаптиве пошла проблдема со слайдером
