.mobile-nav {
	overflow-y: auto;
	position: fixed;
	// top: 0;
	top: -100%; // меняется на 0 с .mobile-nav--open потому что шторка меню вылетает сверху
	width: 100%;
	height: 100%;
	z-index: 99;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	padding: 106px 20px 56px;

	background: #fff;
	transition: all 0.2s ease-in;
}

.mobile-nav--open {
	top: 0;
}

.mobile-nav a {
	color: #000;
}

.mobile-nav__links {
}
.mobile-links {
	display: grid;
	gap: 32px;
}
.mobile-links__parent {
	border-bottom: 1px solid #000;
}
.mobile-links__parent-btn {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.mobile-links__parent-title {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 14px;
	line-height: 180%;
	text-transform: capitalize;
	color: var(--black);
}
.mobile-links__parent-btn__icon {
	transition: all 0.2s ease-in;
} // чтобы посмотреть как она поворачивается
.active .mobile-links__parent-btn__icon {
	transform: rotate(-180deg);
} // когда у нее будет родитель с классом active, она будет поворачиваться
.mobile-sub {
	max-height: 0px; // скрываем чтобы потом открыть аккордеоном
	overflow: hidden; // чтобы контент не вываливался
	transition: all 0.2s ease-in;
}

.mobile-sub-list {
	display: grid;
	gap: 16px;
	padding-top: 24px;
	padding-left: 35px;
	padding-bottom: 16px;
} // по умолчанию невидим
.mobile-sub-list__item {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 14px;
	line-height: 180%;
	text-transform: capitalize;
	color: var(--neutral-gray404040);
}
.mobile-sub-list__link {
	display: inline-block; // без этого ссылка не растянется на 100прц
	width: 100%; // растягиваем ссылку на 100% блока
	padding-top: 7px;
	color: var(--neutral-gray404040);
}
